[draggable] {
  user-select: none;
}

body {
  margin:0px; 
  padding:0px;
  font-family: roboto;
  color: blue;
  max-width: 1000px;
  margin: auto;
}

hr {
  height: 10px;
  background-color: blue;
}

#notification {
  display: none;
}

.wrapper {
  display: grid;
  grid-template-columns: 90%;
  justify-content: center;
}

.button-list {
  background-color: transparent;
  border:none;
  color: blue;
  outline-style: none;
}

.list-add {
  display: flex;
}

.list-item-tasks {
  display: flex;
}

.list-item-tasks.dragElem {
  opacity: 0.4;
}
.list-item-tasks.over {
  border-top: 2px solid blue;
}
