$font-stack-main: 'Source Sans Pro', sans-serif;
$font-stack-second: 'Fresca', sans-serif;

$header-background-image:  url('../img/m-h-night.jpg');
$background-color-body: #21232E;
$background-lightblack: #3B3F50;
$border-lightblack: #3B3F51;
$color-body: #FFF;
$header-underline: #FF4E33;
$header-text:  #FFF;
$button-color: #E3AC00;
$gradient-end: #932D51;
$card-underline: $header-underline;
$p-logo-margin-top: -7px;
$span-logo-margin-top: 6px;
$span-logo-padding-left: 3px;